@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #323232;
  font-family: "Poppins", sans-serif;
}
.navbar {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px 0;
}

.navbar-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

.navbar-container span {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #323232;
  vertical-align: middle;
  padding: 0 7px;
}

.navbar-container img {
  vertical-align: middle;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navbar li {
  padding: 0 15px;
}

.navbar a {
  color: #323232;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 0 10px;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-nav-right a:hover {
  color: #f78434;
}

.navbar .home {
  font-family: "Poppins", sans-serif;
  color: #f78434;
  font-weight: 700;
}

.main {
  width: 80%;
  margin: auto;
  height: 676px;
  display: flex;
  align-items: center;
  max-width: 1440px;
  overflow: hidden;
  color: #323232;
}
.main-text {
  position: absolute;
  width: 674px;
  display: inline-block;
  align-self: center;
}

.main-img {
  position: absolute;
  z-index: -1;
  right: 10%;
}

.main-img img {
  border-radius: 40px 40px 40px 0;
}

.main h1 {
  font-size: 54px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.main p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 25px 0;
  width: 467px;
}

input[type="email"] {
  background: #dfdfdf;
  width: 299px;
  background: #fff;
  height: 50px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 10px;
  border-radius: 29px 0 0 29px;
  border: none;
  outline: none;
}

input[type="submit"] {
  position: relative;
  border-radius: 29px;
  height: 50px;
  width: 160px;
  border: none;
  outline: none;
  left: -5px;
  background: #f78434;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  cursor: pointer;
}

.logos {
  align-items: center;
  max-width: 1440px;
  width: 80%;
  margin: auto;
  padding: 70px 0;
  position: relative;
}

.logos img {
  height: 35px;
  position: relative;
  margin: 0 70px;
  text-align: center;
}

.second {
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  max-width: 1440px;
}

.second-img img {
  border-radius: 20px;
}

.second-img .f-img {
  margin: 0 16px 0 -50px;
}

.second-img .s-img {
  margin: 0 0 0 16px;
}

.second-container {
  position: relative;
}

.second-text {
  color: #323232;
  width: 374px;
  margin: 0 0 0 150px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.second-text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
}

.second-text p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 400;
}

.second-text button {
  padding: 17px 39px;
  border: none;
  border-radius: 29px;
  cursor: pointer;
  background-color: #f78434;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
  margin-top: 40px;
}

.product {
  overflow: hidden;
  position: relative;
  width: 80%;
  align-items: center;
  max-width: 1440px;
  display: flex;
  background-color: #58bebf;
  border-radius: 20px 20px 20px 0;
  margin: 145px auto;
}

.product-img img {
  position: relative;
}

.product-img {
  margin-top: 60px;

  border-radius: 0 20px 0 0;
  background-color: #fff;
  padding: 25px 25px 0 0;
}

.product-text {
  width: 364px;
  margin-left: 100px;
  align-items: center;
  top: 50%;
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: inline-block;
}

.product-text h2 {
  font-size: 42px;
}

.product-text p {
  padding: 15px 0 30px 0;
  font-weight: 300;
  width: 320px;
}

.product button {
  font-family: "Poppins", sans-serif;
  padding: 16px 40px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.product-text .first {
  background-color: #f78434;
  color: #fff;
  margin-right: 8px;
}

.product-text .scnd {
  color: #323232;
  margin-left: 8px;
}

.product .circle {
  height: 270px;
  width: 270px;
  opacity: 0.3;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -70px;
  top: -70px;
}
.product .circle1 {
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 170px;
  top: -20px;
  right: -20px;
  opacity: 0.4;
  border-radius: 50%;
  background-image: linear-gradient(90deg, transparent 50%, #fff 50%),
    linear-gradient(0deg, #fff 50%, transparent 50%);
}

.product .circle2 {
  height: 250px;
  width: 250px;
  opacity: 0.4;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 390px;
  bottom: -120px;
  background-image: linear-gradient(180deg, transparent 50%, #fff 50%),
    linear-gradient(90deg, transparent 50%, #fff 50%);
}

.we-serve {
  text-align: center;
  width: 80%;
  margin: auto;
  color: #323232;
}

.we-serve h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.containers {
  text-align: center;
  margin: 45px 0;
}

.containers h2 {
  font-size: 42px;
}

.containers p {
  width: 300px;
  margin: 10px 0;
}

.containers button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #f78434;
  padding: 15px 40px;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.container1 {
  display: inline-block;
  background-color: #f78434;
  border-radius: 10px;
  padding: 40px 80px;
  color: #fff;
  margin-right: 15px;
}

.container2 {
  display: inline-block;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  padding: 40px 80px;
  color: #323232;
  margin-left: 15px;
}

.choose-us {
  width: 80%;
  margin: auto;
  max-width: 1440px;
  text-align: center;
}

.choose-us h2 {
  font-size: 42px;
}

.choose-us h3 {
  font-size: 28px;
  padding: 15px 0 5px 0;
}

.choose-us-containers {
  display: flex;
}

.choose-us-containers .cc {
  width: 260px;
  margin: 60px auto;
}

.choose-us-containers i {
  font-size: 40px;
  background-color: rgb(88, 190, 191, 0.4);
  color: #58bebf;
  padding: 30px;
  border-radius: 50%;
}

.choose-us-containers .orange i {
  background-color: #f78434;
  color: #fff;
}

.choose-us-containers .clipboard i {
  padding: 30px 34px;
}
